main {
  margin: 0vw;
  background-color: #fff7f7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  grid-template-areas: "picture info";
}

.pic {
  grid-area: picture;
}

.infomation {
  grid-area: info;
}

img {
  width: 550px;
}
