@font-face {
  font-family: straaliches;
  src: url(Staatliches-Regular.ttf);
}

@font-face {
  font-family: geneve;
  src: url(Geneva\ Normal.ttf);
}

.productinfo {
  background-color: #FFF7F7;
}

h1 {
  font-family: straaliches;
}
h2 {
  font-family: straaliches;
}
h3 {
  font-family: straaliches;
}



/*
colors: 
background: #FFF7F7 
nav: #FDD3DA
footer: #CF8282
button: #9B0000
