* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: straatliches, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

nav {
  background: #fdd3da;
  opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100%;
}

nav .logo {
  float: left;
  color: white;
  font-size: 70px;
  line-height: 70px;
  padding-left: 5rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav .logo a {
  text-decoration: none;
}

nav .logo:hover {
  animation-name: bounce;
  animation-duration: 1s;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0.5;
    transform: translate(0px, 190px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

nav ul {
  float: right;
  list-style: none;
  padding-right: 5rem;
  position: relative;
  padding-top: 30px;
  z-index: 100;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
  z-index: 100;
}

nav ul li a {
  color: white;
  text-decoration: none;
  line-height: 50px;
  font-size: 25px;
  padding: 8px 10px;
}
@font-face {
  font-family: straatliches;
  src: url(Staatliches-Regular.ttf);
}

@font-face {
  font-family: geneva;
  src: url(Geneva\ Normal.ttf);
}

.productinfo {
  background-color: #FFF7F7;
}

h1 {
  font-family: straaliches;
}
h2 {
  font-family: straaliches;
}
h3 {
  font-family: straaliches;
}



/*
colors: 
background: #FFF7F7 
nav: #FDD3DA
footer: #CF8282
button: #9B0000
