body {
  background-color: #fff7f7;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

nav {
  background: #fdd3da;
  opacity: 0.9;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: straatliches, sans-serif;
}

nav .logo {
  float: left;
  color: white;
  font-size: 70px;
  line-height: 70px;
  padding-left: 5rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav .logo a {
  text-decoration: none;
  color: white;
}

nav .logo:hover {
  animation-name: bounce;
  animation-duration: 1s;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0.5;
    transform: translate(0px, 190px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

nav ul {
  float: right;
  list-style: none;
  padding-right: 5rem;
  position: relative;
  padding-top: 16px;
  z-index: 100;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
  z-index: 100;
}

nav ul li a {
  color: white;
  text-decoration: none;
  line-height: 50px;
  font-size: 25px;
  padding: 8px 10px;
}
@font-face {
  font-family: straatliches;
  src: url(Staatliches-Regular.ttf);
}

@font-face {
  font-family: geneva;
  src: url(Geneva\ Normal.ttf);
}

.productinfo {
  background-color: #fff7f7;
}

h1 {
  font-family: straaliches;
}
h2 {
  font-family: straaliches;
}
h3 {
  font-family: straaliches;
}

/*colors: 
background: #FFF7F7 
nav: #FDD3DA
footer: #CF8282
button: #9B0000;*/

.wineh1 {
  display: flex;
  justify-content: center;
}

.categoryh2 {
  display: flex;
  justify-content: center;
}

.introtext {
  margin-right: 75px;
  margin-left: 75px;
}

.container {
  width: auto;

  display: flex;
  justify-content: space-around;
}

.container .card {
  position: relative;
  cursor: pointer;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  background: #d2849e;
  transform: translateY(0);
}

.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content img {
  max-width: 100px;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}

button {
  margin-top: 10px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-16 {
  border: none;
  color: #000;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}
